services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: news-portal-app
    ports:
      - "3000:3000"
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

  postgres:
    image: postgres:15
    container_name: postgres-news-portal-app
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: news_portal
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d news_portal"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
